<%- include('partials/top') %>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Homepage</h1>
            <p>Please enter a room:</p>
            <a href="/rooms/1" class="btn btn-primary">Room 1</a>
            <a href="/rooms/2" class="btn btn-primary">Room 2</a>
            <a href="/rooms/3" class="btn btn-primary">Room 3</a>
            <a href="/rooms/4" class="btn btn-primary">Room 4</a>
        </div>
    </div>
</div>

<%- include('partials/bottom') %>